@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    box-sizing : border-box;
    font-family: 'Jost', sans-serif;
    text-align : center;
    font-weight: normal;
    margin     : auto;
}

body {
    background-color : rgb(65, 88, 208);
    background-image : linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
    background-repeat: no-repeat;
    overflow         : hidden;
}

header {
    width           : 100%;
    position        : absolute;
    color           : rgb(250, 250, 250);
    background-color: transparent;
    z-index         : 300;
}

#hdr-back {
    position        : absolute;
    width           : 100%;
    height          : 110px;
    margin          : 0;
    top             : 0;
    background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
    filter          : blur(10px);
    z-index         : 200;
}

.search-div {
    margin: 5px 0 8px 0;
    width : 100%;
}

.search-text {
    padding         : 4px;
    text-align      : left;
    font-size       : medium;
    border-width    : 0;
    border-radius   : 5px;
    color           : rgb(255, 255, 255);
    background-color: rgba(252, 245, 245, 0.2);
}

.search-text:focus {
    border-color: var(--theme-topbar-search-border-focus);
    box-shadow  : var(--theme-topbar-search-shadow-focus);
}

.clear-btn:active {
    background-color: rgb(107, 106, 106);
}

.clear-btn {
    opacity         : 0;
    display         : inline;
    border-radius   : 5px;
    border          : none;
    cursor          : pointer;
    background-color: rgb(184, 181, 181);
}

.clear-icon {
    vertical-align: middle;
    content       : url("assets/img/close.svg");
    display       : inline-block;
    width         : 1rem;
}

.download-icon {
    vertical-align: middle;
    content       : url("assets/img/download.svg");
    display       : inline-block;
    width         : 1rem;
}

.expand-icon {
    vertical-align: middle;
    content       : url("assets/img/expand.svg");
    display       : inline-block;
    width         : 1rem;
}

.open-new-icon {
    vertical-align: middle;
    content       : url("assets/img/open_in_new.svg");
    display       : inline-block;
    width         : 1rem;
}

.settings-icon {
    vertical-align: middle;
    content       : url("assets/img/settings.svg");
    display       : inline-block;
    width         : 1rem;
}

h1,
h2 {
    margin: auto;
}

div.gallery:hover img {
    opacity: 0.4;
    height : 100%;
    filter : blur(30px)
}

div.gallery:hover .desc {
    opacity         : 1;
    background-color: transparent;
    font-weight     : bold;
}

div.gallery:hover {
    border          : 1px solid rgb(122, 122, 223);
    display         : flex;
    position        : relative;
    align-items     : center;
    width           : 102%;
    left            : -1%;
    font-weight     : bolder;
    color           : rgb(255, 255, 255);
    background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, hwb(39 44% 0%) 100%);
}

div.gallery {
    display           : flex;
    position          : relative;
    border-radius     : 2%;
    width             : 100%;
    height            : 200px;
    border            : none;
    background-color  : rgb(250, 250, 250);
    box-shadow        : 0 2px 4px rgba(0, 0, 0, 0.269), 0 -1px 0px rgba(0, 0, 0, 0.02);
    overflow          : hidden;
    -webkit-transition: width .25s ease;
    -moz-transition   : width .25s ease;
    -ms-transition    : width .25s ease;
    -o-transition     : width .25s ease;
    transition        : width .25s ease;
}

div.gallery img {
    width : 100%;
    height: auto;
}

div.desc {
    margin    : auto;
    position  : absolute;
    width     : 100%;
    padding   : 15px;
    text-align: center;
    opacity   : 0;
    transition: 0.25s all ease-in-out;
}

a:link,
a:visited {
    text-decoration: none;
    color          : inherit;
}

a:hover {
    text-decoration: underline;
    color          : rgb(122, 122, 223);
}

.open-in-osm {
    display      : block;
    color        : rgb(41, 41, 43);
    margin-bottom: 5px;
}

.open-in-osm:hover {
    color: rgb(226, 237, 241);
}

.open-in-osm .open-new-icon {
    opacity: 0;
}

.open-in-osm:hover .open-new-icon {
    opacity: 1;
    fill   : rgb(226, 237, 241);
}

#gallery {
    /* padding              : 125px 20px 20px 20px; */
    padding              : 110px 20px 20px 20px;
    height               : 100vh;
    display              : grid;
    grid-gap             : 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow       : dense;
    overflow             : scroll;
    scroll-behavior      : smooth;
    z-index              : 100;
}

@media only screen and (max-width: 700px) {

    #gallery {
        display              : grid;
        grid-gap             : 5px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    #gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear  : both;
}